<center>
<h1> Login </h1>

<%= flash[:message] if flash[:message]%> 

<%= form_for :user do |f| %>

    <%= f.label :username %>: 
    <%= f.text_field :username %>
    <br>
    <br>
    <%= f.label :password %>: 
    <%= f.password_field :password %> 
    <br>
    <br>
    <%= f.submit 'Login' %> 

<% end %> 

<p> Or: <%= link_to('log in with Facebook', '/auth/facebook') %></p>
<br>
<h4>Don't have an account" <hr> </h4>
<%= link_to "Sign Up here", signup_path %>
</center>