<center>
<h1> Login </h1>

 

<%= form_for :user do |f| %>

    <%= f.label :username %>: 
    <%= f.text_field :username, required: true %>
    <br>
    <br>
    <%= f.label :password %>: 
    <%= f.password_field :password, required: true %> 
    <br>
    <br>
    <%= f.submit 'Login' %> 

<% end %> 

<p> Or: <%= link_to('log in with Google', '/auth/google_oauth2') %></p>
<br>
<h4>Don't have an account" <hr> </h4>
<%= link_to "Sign Up here", signup_path %>
</center>