
  </head> 
<h3>Filter movies:</h3>
<%= form_tag("/movies", method: "get") do %>
  <%= label_tag "Filter By Rating:" %>
  <%= select_tag "rating", options_for_select(["PG", "PG13", "R"]), include_blank: true %>
  <br>
  <%= submit_tag "Filter" %>
<% end %>


<ul id="movies">
  <% @movies.each do |movie| %>
    <li>
      <%= link_to "#{movie.title}", movie_path(movie) %>
      Rated: <%= movie.rating %></li> 
  <% end %>
</ul>
