<h1> Hello <%= @user.username %> </h1>
<p>Email: <%= @user.email %></p>
<p>Age: <%= @user.age %></p>
<br>
<br>
<%= check_for_age(@user) %>
<br>
<br>
Movies Rented 
<br>
<%= @user.movies.each do |movie| %> 
    <%= movie.title %> 
<% end %> 
<br>
Movies Reviewed 
<br>
<%= @user.reviews.each do |review| %>
    <%= review.movie.title %> 
<% end %> 
 
