<h1> Hello <%= @user.username %> </h1>
<p>Email: <%= @user.email %></p>
<p>Age: <%= @user.age %></p>
<br>
<br>
<div style="width:50%">
  <%= check_for_age(@user) %>
</div>
<br>
<br>


<h3><%= link_to "Edit your profile", edit_user_path(@user.id) %></h3>
 
