<h1> Hello <%= @user.username %> </h1>

 
<%= form_for @user do |f| %> 
    <%= f.number_field :money %> 

    <%= f.submit 'Add Funds' %> 
<% end %> 
<br>
Current funds $<%= @user.money %>.00 
<br>
<br>

 

Movies Rented 
<br>
<%= @user.movies.each do |movie| %> 
    <%= movie.title %> 
<% end %> 
<br>
Movies Reviewed 
<br>
<%= @user.reviews.each do |review| %>
    <%= review.movie.title %> 
<% end %> 
 
