<!DOCTYPE html>
<html>
  <head>
    <title>TierneyCinema</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <header> 
      <center>
      <div>
      <% if logged_in? %> 
        <%= link_to "Home", "/users/show" %> |
        <%= link_to "Logout", logout_path, method: "delete" %> |
        <%= link_to "Movies", movies_path %> |
        <%= link_to "Reviews", reviews_path %>
      <% else %>
        <%= link_to "Sign Up", signup_path %> |
        <%= link_to "Login", login_path %>

        <% end %>  
    </div>
      <h1> Welcome to Tierney Cinema </h1>
        <hr>
      </center>
    </header> 
  <body>
    <%= yield %>
  </body>
</html>
