<!DOCTYPE html>
<html>
  <head>
    <title>TierneyCinema</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head> 
  <body>
  <center>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="">

 
      <a class="navbar-brand" href="/"/>Home |</a>
      <% if current_user %>
        <a class="navbar-brand" href="/movies"/>Movies |</a>
        <a class="navbar-brand" href="/users/<%=current_user.id%>"/>Profile |</a>
        <a class="navbar-brand" href="/users/<%=current_user.id%>/rentals"/>Rentals |</a>
        <a class="navbar-brand" href="/logout"/>Log Out</a>
      <% else %>
        <a class="navbar-brand" href="/signup"/>Sign Up |</a>
        <a class="navbar-brand" href="/login"/>Log In</a>
      <% end %>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        </ul>
      </div><!--/.nav-collapse -->
      <div class="Greeting">
        <h1> Welcome to Tierney Cinema </h1>
      </div class="Greeting">
      <hr>
    </center>
    </div>
  </div>
    <% if flash[:message] %> 
      <%= flash[:message] %> 
    <% end %> 
    <%= yield %>
  </body>
</html>
