<!DOCTYPE html>
<html>
  <head>
    <title>TierneyCinema</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <header> 
      <h1> Welcome to Tierney Cinema </h1>
  <body>
    <%= yield %>
  </body>
</html>
